<div class="col-12">
	<div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
		<h1 class="display-3 text-warning">{ NOSQL:"IDE" }</h1>
		<p class="lead">Firestore | MongoDb | DocumentDb<br> Database IDE for developers. 100% <a target="_blank"
				class="text-secondary" href="https://json-schema.org/">JSON-Schema</a>
			driven. <a target="_blank" class="text-secondary" href="https://electronjs.org/">Electron
				powered.</a></p>
		<div class="row">
			<div class="col-lg-4 col-sm-6 mx-auto">
				<div class="input-group mb-3">
					<input type="text" class="form-control form-control-lg" placeholder="your@email">
					<div class="input-group-append">
						<button class="btn btn-outline-light btn-lg rounded-right" type="button">Sign-up</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>