<div class="col col-12">
	<div class="page-content text-left m-0 vh-100 d-flex flex-column justify-content-left text-light">
		<h5>Pricing</h5>
		<p>
			<div>
				<span class="underline larger"><strong>FREE</strong></span> for all learning, hobby and indie projects
				during development.
			</div>
			<div>
				<span class="underline">Affordable</span> licensing for comercial/business project teams and when hobby/indie projects publish and start generating income.
			</div>
		</p>
		<p>
			<div class="larger">1 - 4 machines: $29/install</div>
			<div class="larger">5 - 9 machines: $23/install</div>
			<div class="larger">10+ machines: $19/install</div>
		</p>
	</div>
</div>